.list-name {
  color: rgb(237, 244, 35);
  font-family: Doyle;
  font-size: 5vh;
  display: flex;
  justify-content: center;
}

.empty-message {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Doyle;
  color: rgb(237, 244, 35);
  font-size: 1em;
}

.no-decoration-link {
  text-decoration: none;
  color: rgb(205, 245, 47);
}




/* BOOKMARK */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.bookmark-card {
  width: 300px;
  background-color: #4f0a7d;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/31/13/22/311322e2de994adce06671fc6c46d016.gif');
  min-height: 390px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;

  &:hover{
    transform: translateY(-5px);
  }

}



.bookmark-image {
  margin-bottom: 10px;
}

.bookmark-movie {
  max-width: 100%;
  font-family: doyle;
  color: rgb(233, 235, 228);
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmark-comment {
  max-height: 100px;
  font-family: doyle;
  color: rgb(228, 235, 235);
  font-size: 14px;
  overflow-y: auto;
  word-wrap: break-word;
}

/* SUB PAGE LINKS */
.sub-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sub-item {
  margin: 0 50px;
  size: 10em;
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: #df618500;
}




