.t-footer {
  background-color: black;
  height: 70px;
  color: wheat;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid rgb(237, 244, 35);
}

.t-footer i {
  color: rgb(237, 244, 35);
}