body{
  background-image: url('https://cdn.wallpapersafari.com/38/0/tNfnSd.png');
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
}




.main-title{
  display:flex;
  justify-content:center;
  font-family: Doyle;
  font-size: 5em;
  color: #cada15;
  letter-spacing: .1rem;
  // border: 1px solid #db85d8;
  padding: 10px;
  background-color: #9668df00;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius:5px ;
}

.new-list-link {
  display:flex;
  justify-content:center;
  font-family: Doyle;
  border: 1px solid #ea88e6;
  border-radius:20px;
  padding: 10px;
  background-color: #9668df;
  width: 20%;
  max-width: 600px;
  margin: 0 auto;
  transition: all .3s ease-in;

  &:hover {
    color: white;
    background-color: #6bcaf7;
    transition: all .3s ease-in;
  }
}


.add-button{
text-decoration: none;
color: aliceblue;

}

.list-container {
  display: flex;
  justify-content: center;
}

.list-item{
  text-decoration: none;
  font-family: Doyle;
  color: #75ddf2;
  font-size: 2em;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
}


